<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Courses</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="assets/img/education/logo/lo.png" type="image/x-icon">
   <link rel="stylesheet" href="assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/animate.css">
   <link rel="stylesheet" href="assets/css/flaticon-3.css">
   <link rel="stylesheet" href="assets/css/fontawesome-all.css">
   <link rel="stylesheet" href="assets/css/owl.carousel.css">
   <link rel="stylesheet" href="assets/css/side-demo.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="assets/css/education.css">


   <link rel="stylesheet" href="slick/slick.css">
   <link rel="stylesheet" href="slick/slick-theme.css">

   <link rel="stylesheet" href="css/style.css">

</head>

<body class="saas-classic">
<!-- preloader - start -->
<!-- <div id="preloader" class="saas-classic-preloader"></div> -->
<div class="up">
    <a href="#" id="scrollup" class="saas-classic-scrollup text-center"><i class="fas fa-angle-up"></i></a>
</div>
<!-- Start of header section
    ============================================= -->
    <header id="app-edu-main-header" class="app-edu-header-main">
      <div class="container">
          <div class="app-edu-logo float-left">
              <a href="/"><img src="assets/img/education/logo/lo.png" alt=""></a>
          </div>
          <div class="app-edu-main-header-menu clearfix">
              <div class="header-dia-cta-btn text-center float-right">
                  <a href="#">Contact Us</a>
              </div>
              <nav class="app-edu-main-navigation float-right clearfix ul-li">
                  <ul id="app-edu-main-nav" class="nav navbar-nav clearfix">
                      <li class="side-demo position-relative"><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="/courses" >Courses</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </nav>
          </div>
          <div class="app-edu-mobile_menu position-relative">
              <div class="app-edu-mobile_menu_button app-edu-open_mobile_menu">
                  <i class="fas fa-bars"></i>
              </div>
              <div class="app-edu-mobile_menu_wrap">
                  <div class="mobile_menu_overlay app-edu-open_mobile_menu"></div>
                  <div class="app-edu-mobile_menu_content">
                      <div class="app-edu-mobile_menu_close app-edu-open_mobile_menu">
                          <i class="fas fa-times"></i>
                      </div>
                      <div class="m-brand-logo text-center">
                          <a href="#"><img src="assets/img/education/logo/lo.png" alt=""></a>
                      </div>
                      <nav class="app-edu-mobile-main-navigation  clearfix ul-li">
                       <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                          <li ><a href="/">Home</a></li>
                          <li><a href="/about">About</a></li>
                          <li><a href="#">Team</a></li>
                          <li><a href="/courses">Courses</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">Blog</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
          <!-- /Mobile-Menu -->
      </div>
  </header>
<!-- End of header section
    ============================================= -->

<!-- Start of breadcurmb section
    ============================================= -->
    <section id="saasio-breadcurmb" class="saasio-breadcurmb-section">
        <div class="container">
            <div class="breadcurmb-title text-center">
                <h2>Courses</h2>
            </div>
            <div class="breadcurmb-item-list text-center ul-li">
             <ul class="saasio-page-breadcurmb">
                 <li><a href="/">Home</a></li>
                 <li><a href="/courses">Courses</a></li>
             </ul>
         </div>
     </div>
 </section>
<!-- End of breadcurmb section
    ============================================= --> 

<!-- Start of Service page section
    ============================================= -->
    <section id="saas_two_service" class="saas_two_service_section">
        <div class="container">
            <div class="saas_two_section_title saas2-headline text-center">
                <span class="title_tag">Our awesome services</span>
                <h2>We  give <span>best facilites
                </span> </h2>
            </div>
            <!-- /section title -->
            <div class="service_content">

               <div class="" id="courses">
                  <!-- <div class="loading1"></div> -->
               </div>

            </div>
         </div>
        </section>
<!-- End of Service section
    ============================================= --> 

<!-- Start of App Download  section
    ============================================= -->
    <section id="ei-appdownload" class="ei-appdownload-section position-relative" data-background="assets/img/app-landing/background/appbg1.png">
        <div class="container">
            <div class="ei-appdownload-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ei-app-mockup-img  wow fadeFromRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <img src="assets/img/app-landing/mockup/amu1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ei-app-down-text wow fadeFromLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="eight-section-title appeight-headline pera-content text-left">
                                <span class="eg-title-tag">
                                    App Download<i class="square-shape"><i></i><i></i><i></i><i></i></i>
                                </span>
                                <h2>This app is available for
                                    <span>your smart phone.</span>
                                </h2>
                                <p>As a SAAS web crawler expert, I help organizations adjust to the expanding significance of internet promoting.</p>
                            </div>
                            <div class="app-down-btn">
                                <a href="#"><img src="assets/img/app-landing/shape/btn1.png" alt=""></a>
                                <a href="#"><img src="assets/img/app-landing/shape/btn2.png" alt=""></a>
                            </div>
                            <div class="ei-download-btn pera-content">
                                <div class="download-icon float-left"><i class="flaticon-idea"></i></div>
                                <p>Are you interested for this app?</p>
                                <a href="#">Learn More </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ei-appdownloaad-shape app-shape1" data-parallax='{"y" : -100}'><img src="assets/img/app-landing/background/apps1.png" alt=""></div>
        <div class="ei-appdownloaad-shape app-shape2" data-parallax='{"x" : -120}'><img src="assets/img/app-landing/background/apps2.png" alt=""></div>
        <div class="ei-appdownloaad-shape app-shape3" data-parallax='{"y" : -100}'><img src="assets/img/app-landing/background/apps3.png" alt=""></div>
    </section>
<!-- End of App Download section
    ============================================= -->

 <!-- Start of testimonial section
    ============================================= -->
    <section id="testimonial" class="testimonial_section">
        <div class="container">
            <div class="section_title text-center">
                <div class="title_tag">
                    <div class="tag_icon float-left">
                        <i class="flaticon-diamond"></i>
                    </div>
                    Client’s testimonials
                </div>
                <div class="section_title_text saas-modern-headline pera-content">
                    <h2>We serve<span> our clients</span></h2>
                    <p>As a Saas developer or web crawler expert, I help
                    organizations adjust to the expanding significance.</p>
                </div>
            </div>
            <!-- /section-title -->
            <div  class="testimonial_slider">
                <div id="testimonial_slide" class="carousel slide" data-ride="carousel" >
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="testimonial_indicator relative-position">
                                <ol class="carousel-indicators">
                                    <li data-target="#testimonial_slide" data-slide-to="0" class="active">
                                        <img src="assets/img/saas-m/testimonial/tst1.png" alt="">
                                    </li>
                                    <li data-target="#testimonial_slide" data-slide-to="1">
                                        <img src="assets/img/saas-m/testimonial/tst2.png" alt="">
                                    </li>
                                    <li data-target="#testimonial_slide" data-slide-to="2">
                                        <img src="assets/img/saas-m/testimonial/tst3.png" alt="">
                                    </li>
                                    <li data-target="#testimonial_slide" data-slide-to="3">
                                        <img src="assets/img/saas-m/testimonial/tst4.png" alt="">
                                    </li>
                                    <li data-target="#testimonial_slide" data-slide-to="4">
                                        <img src="assets/img/saas-m/testimonial/tst5.png" alt="">
                                    </li>
                                    <li data-target="#testimonial_slide" data-slide-to="5">
                                        <img src="assets/img/saas-m/testimonial/tst6.png" alt="">
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="carousel_preview">
                                <div class="carousel-inner relative-position">
                                    <div class="carousel-item active">
                                        <div class="testimonial_content">
                                            <div class="testimonial_text relative-position pera-content">
                                                <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                                <div class="testimonial_rating ul-li">
                                                    <ul>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="qoute_mark relative-position"></div>
                                            <div class="testimonial_name_designation">
                                                <div class="testimonial_img float-left">
                                                    <img src="assets/img/saas-m/testimonial/tst1.png" alt="">
                                                </div>
                                                <div class="testimonial_meta saas-modern-headline pera-content">
                                                    <h4>Nepoli Dewan</h4>
                                                    <p>SEO Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /slide item -->
                                    <div class="carousel-item">
                                        <div class="testimonial_content">
                                            <div class="testimonial_text relative-position pera-content">
                                                <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                                <div class="testimonial_rating ul-li">
                                                    <ul>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="qoute_mark relative-position"></div>
                                            <div class="testimonial_name_designation">
                                                <div class="testimonial_img float-left">
                                                    <img src="assets/img/saas-m/testimonial/tst2.png" alt="">
                                                </div>
                                                <div class="testimonial_meta saas-modern-headline pera-content">
                                                    <h4>Rameli Andrea</h4>
                                                    <p>SEO Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /slide-item -->
                                    <div class="carousel-item">
                                        <div class="testimonial_content">
                                            <div class="testimonial_text relative-position pera-content">
                                                <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                                <div class="testimonial_rating ul-li">
                                                    <ul>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="qoute_mark relative-position"></div>
                                            <div class="testimonial_name_designation">
                                                <div class="testimonial_img float-left">
                                                    <img src="assets/img/saas-m/testimonial/tst1.png" alt="">
                                                </div>
                                                <div class="testimonial_meta saas-modern-headline pera-content">
                                                    <h4>Nepoli Dewan</h4>
                                                    <p>SEO Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /slide item -->
                                    <div class="carousel-item">
                                        <div class="testimonial_content">
                                            <div class="testimonial_text relative-position pera-content">
                                                <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                                <div class="testimonial_rating ul-li">
                                                    <ul>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="qoute_mark relative-position"></div>
                                            <div class="testimonial_name_designation">
                                                <div class="testimonial_img float-left">
                                                    <img src="assets/img/saas-m/testimonial/tst3.png" alt="">
                                                </div>
                                                <div class="testimonial_meta saas-modern-headline pera-content">
                                                    <h4>Nepoli Dewan</h4>
                                                    <p>SEO Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /slide item -->
                                    <div class="carousel-item">
                                        <div class="testimonial_content">
                                            <div class="testimonial_text relative-position pera-content">
                                                <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                                <div class="testimonial_rating ul-li">
                                                    <ul>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="qoute_mark relative-position"></div>
                                            <div class="testimonial_name_designation">
                                                <div class="testimonial_img float-left">
                                                    <img src="assets/img/saas-m/testimonial/tst4.png" alt="">
                                                </div>
                                                <div class="testimonial_meta saas-modern-headline pera-content">
                                                    <h4>Nepoli Dewan</h4>
                                                    <p>SEO Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /slide item -->
                                    <div class="carousel-item">
                                        <div class="testimonial_content">
                                            <div class="testimonial_text relative-position pera-content">
                                                <p>Lorem ipsum dolor sit amet consecter tony adipiscing elitsed do eiusmodi tempor roar incididunt ut laboreet dolore magna as the opposed to using. Type of partnership or Malta. The limited todot liability.</p>
                                                <div class="testimonial_rating ul-li">
                                                    <ul>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="qoute_mark relative-position"></div>
                                            <div class="testimonial_name_designation">
                                                <div class="testimonial_img float-left">
                                                    <img src="assets/img/saas-m/testimonial/tst5.png" alt="">
                                                </div>
                                                <div class="testimonial_meta saas-modern-headline pera-content">
                                                    <h4>Nepoli Dewan</h4>
                                                    <p>SEO Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /slide item -->
                                </div>
                                <a class="carousel-control-prev" href="#testimonial_slide" role="button" data-slide="prev"></a>
                                <a class="carousel-control-next" href="#testimonial_slide" role="button" data-slide="next"></a>
                                <!-- /carosel arrow -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End of testimonial section
    ============================================= -->            

<!-- Start of footer section
    ============================================= -->
    <footer id="saas_two_footer" class="saas_two_footer_section relative-position">
        <div class="s2-newslatter_section relative-position">
            <div class="container">
                <div class="s2-newslatter_content relative-position">
                    <div class="s2-newslatter_title  text-center saas2-headline pera-content">
                        <h2>Subscribe now!</h2>
                        <p>Get the latest update.</p>
                    </div>
                    <div class="s2-newslatter-form  relative-position">
                        <form action="#" class="position-relative">
                            <input class="email" name="email" type="email" placeholder="Enter your email address">
                            <div class="nws-button position-absolute text-capitalize">
                                <button class="hover-btn" type="submit" value="Submit"> Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="newsletter_pattern_1"><img src="assets/img/saas-c/banner/nb.png" alt=""></div>
                <div class="cloud_anim newsletter_pattern_2" style="background-image: url(../../old3.commonsupport.com/emu/wp-content/uploads/2021/02/cloud-2.html);"></div>
                <div class="cloud_anim newsletter_pattern_3" style="background-image: url(../../old3.commonsupport.com/emu/wp-content/uploads/2021/02/cloud-5.html);"></div> 
                <div class="newsletter_pattern_4 " style="background-image: url(assets/img/saas-c/banner/ns.png);"></div>
                <div class="newsletter_pattern_5 " style="background-image: url(assets/img/saas-c/banner/ns2.png);"></div>
            </div>
        </div> 
        <div class="footer_content pera-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="s2_footer_widget clearfix ul-li-block  saas2-headline">
                            <div class="s2_footer_about">
                                <div class="s2-footer_logo">
                                    <img src="assets/img/education/logo/lo.png" alt="">
                                </div>
                                <div class="footer_about">
                                    30 Commercial Road Fratton 
                                    PORTSMOUTH Hampshire PO1 1AA 
                                    UNITED KINGDOM
                                </div>
                                <!-- <span>Open Hours: </span>
                                <p>Mon - Sat: 8 am - 5 pm,
                                Sunday: CLOSED</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="s2_footer_widget clearfix ul-li-block saas2-headline">
                            <div class="s2_footer_menu">
                                <h3 class="s2_widget_title">
                                    <span>Links</span>
                                    <i></i>
                                </h3>
                                <ul>
                                    <li><a href="#"> Home</a></li>
                                    <li><a href="#"> Team</a></li>
                                    <li><a href="#"> FAQ</a></li>
                                    <li><a href="#"> Services</a></li>
                                    <li><a href="#"> Gallery</a></li>
                                    <li><a href="#"> About us</a></li>
                                    <li><a href="#"> Contact</a></li>
                                    <li><a href="#"> Testimonials</a></li>
                                    <li><a href="#"> News</a></li>
                                    <li><a href="#"> Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12"">
                     <div class="app-edu-footer-widget app-edu-headline pera-content ul-li-block">
                         <div class="app-edu-twitter">
                             <h3 class="widget-title">Notice Board</h3>
                             <div class="app-edu-twitter-area vwrap">
                                 <div class="vmove">
                                   <div class="app-edu-twitter-content vitem">
                                      <div class="app-edu-twitter-icon float-left">
                                          <i class="fas fa-info"></i>
                                      </div>
                                      <div class="app-edu-twitter-text">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit <a href="#">bit.ly/43Esd</a></p>
                                      </div>
                                  </div>
                                  <div class="app-edu-twitter-content vitem">
                                      <div class="app-edu-twitter-icon float-left">
                                          <i class="fas fa-info"></i>
                                      </div>
                                      <div class="app-edu-twitter-text">
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit <a href="#">bit.ly/43Esd</a></p>
                                      </div>
                                  </div>
                                  
                                  <div class="app-edu-twitter-content vitem">
                                    <div class="app-edu-twitter-icon float-left">
                                       <i class="fas fa-info"></i>
                                    </div>
                                    <div class="app-edu-twitter-text">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit <a href="#">bit.ly/43Esd</a></p>
                                    </div>
                                    </div>

                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                </div>
            </div>
        </div>
    </footer>
    <div class="s2-copyright text-center">All rights reserved © 2021 Ace Education</div>
<!-- End of footer section 
    ============================================= -->

   <script src="assets/js/jquery.js"></script>
   <script src="assets/js/popper.min.js"></script>
   <script src="assets/js/bootstrap.min.js"></script>
   <script src="assets/js/wow.min.js"></script>
   <script src="assets/js/tilt.jquery.min.js"></script>
   <script src="assets/js/owl.js"></script>
   <script src="assets/js/aos.js"></script>
   <script src="assets/js/slick.js"></script>
   <script src="assets/js/jquery.barfiller.js"></script>
   <script src="assets/js/parallax-scroll.js"></script>
   <script src="assets/js/jquery.paroller.min.js"></script>
   <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="assets/js/side-demo.js"></script>
   <script src="assets/js/script.js"></script>
   <script src="assets/js/education.js"></script>
      
    <script src="slick/slick.js"></script>
    <script src="js/courses.js"></script>
</body>
</html>          